# Ignore everything in root except .gitignore, “scripts”, “data”, and “figures”
/*
!*.gitignore
!README.md
!scripts/
!data/
!figures/

# Ignore subdirectories in “scripts”
scripts/final_scripts
scripts/misc_scripts
figures/epa_7q10_algorithm.png
.Rapp.history

# Ignore subdirectories in “data”
data/*
!data/lowflow_sc_ga_al_gagesII_2015.csv
.Rproj.user
